@using System.Security.Claims
@model IEnumerable<SaleTracker.Models.Sale>
<h2>Here are your sales, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
    <ul>
        @foreach (var listSale in Model)
        {
            <li>@Html.DisplayFor(modelSale => listSale.ItemName)</li>
        }
    </ul>
}
else
{
    <p>No sales have been made yet!</p>
}

<h3>Items you've sold:</h3>
<ul id="result1">
    <li>Test</li>
</ul>

@Html.ActionLink("Create new", "Create")

<script>
    $(document).ready(function () {

    })
</script>