<h1>I'm an index!</h1>

<a href="/Account/Register">Register</a>
<a href="/Account/Login">Login</a>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}

<script type="text/javascript">
        $(document).ready(function () {
            $('.display-database-sales-ToUser').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    url: '@Url.Action("UserSaleList", "Sale")',
                    type: 'GET',
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (result) {
                        var stringResult = '<ul>';
                        if (result.length > 0)
                        {
                            for (var i = 0; i < result.length; i++) {
                            stringResult += '<li>' + result[i].itemName + '</li>';
                        }
                        stringResult += '</ul>';
                        }
                        else
                        {
                            stringResult = "No sales have been made yet!";
                        }

                        $('#result5').html(stringResult); 
                    }
                });
            });
        });
</script>

<body>
    <h2>Retrieve Your Sales</h2>
    <form action="UserSaleList" class="display-database-sales-ToUser">
        <button type="submit">Return User Sale</button>
    </form>
    <div id="result5"></div>
</body>